<!DOCTYPE html>

<html>
    <head>
        <title>Mapeamento COVID-19</title>
        {{> head}}
    </head>

    <body>
        {{> header}}
        <section class="bg-info">
            <div class="container">
                <div class="row pt-3 pb-3 text-uppercase text-white">
                    <div class="col-12 mb-3">
                        <h1 class="h4">Dados Mundiais</h1>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div>
                            <h2 class="h5">casos <small>total / novos</small>
                                <hr class="confirmed">
                            </h2> 
                            <h3 id="confirmedGlobal" class="h5">0</h3>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div>
                            <h2 class="h5">óbitos <small>total / novos</small>
                                <hr class="death">
                            </h2> 
                            <h3 id="deathsGlobal" class="h5">0</h3>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div>
                            <h2 class="h5">recuperados <small>total / novos</small>
                            <hr class="recovered">
                            </h2> 
                            <h3 id="recoveredGlobal" class="h5">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light">
            <div class="container">
                <div class="row pt-3 pb-2">
                    <div class="col-8">
                        <img id="flag" src="/images/br.png" class="img-fluid mr-2"> Atualizado em: <span id="updatedDate"></span>
                    </div>
                    <div class="col-4 text-right">
                        <form>
                            <div class="form-group">
                                <select id="select-country" class="form-control">
                                    <option value="BR" class="teste">Brasil</option>
                                    <option value="US">Estados Unidos</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mt-3">
                   <div class="col-md-4">
                        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                            <div class="card-header">CASOS</div>
                            <div class="card-body">
                                <h6>Novos</h6>
                                <h4 class="card-title">
                                    <span id="newConfirmed"></span>
                                </h4>
                                <h5 class="mt-4">Total</h5>
                                <h3 class="card-title">
                                    <span id="totalConfirmed"></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-danger ml-auto mr-auto mb-3" style="max-width: 18rem;">
                            <div class="card-header">ÓBITOS</div>
                            <div class="card-body">
                                <h6>Novos</h6>
                                <h4 class="card-title">
                                    <span id="newDeaths"></span>
                                </h4>
                                <h5 class="mt-4">Total</h5>
                                <h3 class="card-title">
                                    <span id="totalDeaths"></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-success mb-3  ml-auto" style="max-width: 18rem;">
                            <div class="card-header">RECUPERADOS</div>
                            <div class="card-body">
                                <h6>Novos</h6>
                                <h4 class="card-title">
                                    <span id="newRecovered"></span>
                                </h4>
                                <h5 class="mt-4">Total</h5>
                                <h3 class="card-title">
                                    <span id="totalRecovered"></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> footer}}

    </body>    
</html>