<!DOCTYPE html>

<html>
    <head>
        <title>Mapeamento COVID-19</title>
        {{> head}}
    </head>

    <body>
        <section>
            <div class="container">
                Corpo da página
            </div>
        </section>
    </body>
</html>