<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">COVID-19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://covid19.who.int/" target="blank">OMS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.todospelasaude.org/" target="blank">Todos pela saúde</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://coronavirus.saude.gov.br/" target="blank">Ministério da saúde</a>
                </li>
            </ul>
        </div>
    </div>
</nav>